In [61]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [62]:
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [63]:
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [64]:
application_type_counts = application_df['APPLICATION_TYPE'].value_counts()
application_type_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [65]:
from re import A
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
cutoff = 500
application_types_to_replace = list(application_type_counts[application_type_counts < cutoff].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [66]:
classification_counts = application_df['CLASSIFICATION'].value_counts()
classification_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [67]:
classification_counts_gt1 = classification_counts[classification_counts > 1]
classification_counts_gt1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [68]:
cut_off = 100

classifications_to_replace = list(classification_counts[classification_counts < cut_off].index)
classifications_to_replace

['C2800',
 'C7100',
 'C1300',
 'C1280',
 'C1230',
 'C1400',
 'C7200',
 'C2300',
 'C1240',
 'C8000',
 'C7120',
 'C1500',
 'C1800',
 'C6000',
 'C1250',
 'C8200',
 'C1238',
 'C1278',
 'C1235',
 'C1237',
 'C7210',
 'C2400',
 'C1720',
 'C4100',
 'C1257',
 'C1600',
 'C1260',
 'C2710',
 'C0',
 'C3200',
 'C1234',
 'C1246',
 'C1267',
 'C1256',
 'C2190',
 'C4200',
 'C2600',
 'C5200',
 'C1370',
 'C1248',
 'C6100',
 'C1820',
 'C1900',
 'C1236',
 'C3700',
 'C2570',
 'C1580',
 'C1245',
 'C2500',
 'C1570',
 'C1283',
 'C2380',
 'C1732',
 'C1728',
 'C2170',
 'C4120',
 'C8210',
 'C2561',
 'C4500',
 'C2150']

In [69]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cut_off = 100

classifications_to_replace = list(classification_counts[classification_counts < cut_off].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [70]:
application_df_dummies = pd.get_dummies(application_df)

In [71]:
application_df_dummies

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [72]:
X = application_df_dummies.drop(['IS_SUCCESSFUL'], axis=1)
X

,STATUS,ASK_AMT,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,0,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [73]:
y = application_df_dummies['IS_SUCCESSFUL']
y

0        1
1        1
2        0
3        1
4        1
        ..
34294    0
34295    0
34296    0
34297    1
34298    0
Name: IS_SUCCESSFUL, Length: 34299, dtype: int64

In [74]:
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [75]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((25724, 49), (8575, 49), (25724,), (8575,))

In [76]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [77]:
X_train_scaled[:5]

array([[ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866,  1.08034442, -0.04278355, -1.07318949, -0.03118975,
        -0.00881785, -0.02068331, -1.00506648,  2.46274075, -0.05892212,
        -0.09180631, -0.46615531, -0.24117497, -0.05550246, -0.24342285,
        -0.07502931, -0.05757831, -0.15414053, -0.14107891, -0.1058455 ,
        -0.06612829, -0.01079982,  0.47226103, -0.44744306,  1.52769491,
        -0.11947101, -0.03637956, -1.47346684,  0.63741496, -0.15066874,
        -0.12439654, -0.33179062, -0.08204493, -0.1676198 , -0.34899883,
        -0.06401969, -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
        -1.92201992, -0.21848437, -0.18930918,  5.15473331, -0.14518018,
        -0.15039866, -0.92563074, -0.04278355,  0.9318019 , -0.03118975,
        -0.00881785, -0.02068331, -1.00506648, -0.40605167, -0.05892212,
        -0.09180631,  2.14520777, -0.24117497, -0.05550246, -0.24342285,
        -0.07502931, -0.05757831, -0.15414053, -0.14107891, -0.1058455 ,
        -0.06612829, -0.01079982, -2.11747306,  2.23492125, -0.65458096,
        -0.11947101, -0.03637956,  0.67867153,  0.63741496, -0.15066874,
        -0.12439654, -0.33179062, -0.08204493, -0.1676198 , -0.34899883,
        -0.06401969, -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866, -0.92563074, -0.04278355,  0.9318019 , -0.03118975,
        -0.00881785, -0.02068331,  0.99495906, -0.40605167, -0.05892212,
        -0.09180631, -0.46615531, -0.24117497, -0.05550246, -0.24342285,
        -0.07502931, -0.05757831, -0.15414053, -0.14107891, -0.1058455 ,
        -0.06612829, -0.01079982,  0.47226103, -0.44744306, -0.65458096,
        -0.11947101, -0.03637956,  0.67867153,  0.63741496, -0.15066874,
        -0.12439654, -0.33179062, -0.08204493, -0.1676198 , -0.34899883,
        -0.06401969, -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766, -0.12358845, -0.17846338,
         0.52028597, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866, -0.92563074, -0.04278355,  0.9318019 , -0.03118975,
        -0.00881785, -0.02068331, -1.00506648, -0.40605167, -0.05892212,
        -0.09180631,  2.14520777, -0.24117497, -0.05550246, -0.24342285,
        -0.07502931, -0.05757831, -0.15414053, -0.14107891, -0.1058455 ,
        -0.06612829, -0.01079982,  0.47226103, -0.44744306, -0.65458096,
        -0.11947101, -0.03637956,  0.67867153,  0.63741496, -0.15066874,
        -0.12439654, -0.33179062, -0.08204493, -0.1676198 , -0.34899883,
        -0.06401969, -0.07529085,  0.02925687, -0.02925687],
       [ 0.01079982, -0.02957055, -0.08940766,  8.09137097, -0.17846338,
        -1.92201992, -0.21848437, -0.18930918, -0.19399646, -0.14518018,
        -0.15039866,  1.08034442, -0.04278355, -1.07318949, -0.03118975,
        -0.00881785, -0.02068331,  0.99495906, -0.40605167, -0.05892212,
        -0.09180631, -0.46615531, -0.24117497, -0.05550246, -0.24342285,
        -0.07502931, -0.05757831, -0.15414053, -0.14107891, -0.1058455 ,
        -0.06612829, -0.01079982,  0.47226103, -0.44744306,  1.52769491,
        -0.11947101, -0.03637956, -1.47346684,  0.63741496, -0.15066874,
        -0.12439654, -0.33179062, -0.08204493, -0.1676198 , -0.34899883,
        -0.06401969, -0.07529085,  0.02925687, -0.02925687]])

In [78]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation='relu', input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_13 (Dense)            (None, 80)                4000

 dense_14 (Dense)            (None, 30)                2430

 dense_15 (Dense)            (None, 1)                 31

=================================================================
Total params: 6461 (25.24 KB)
Trainable params: 6461 (25.24 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [79]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [80]:
# Optional: Import the early stopping callback
from tensorflow.keras.callbacks import EarlyStopping

# Optional: Define an early stopping callback
early_stopping = EarlyStopping(monitor='val_loss', patience=10)

# Train the model with early stopping
fit_model = nn.fit(X_train_scaled, y_train, epochs=100, callbacks=[early_stopping], validation_split=0.2)

Epoch 1/100
644/644 [==============================] - 3s 3ms/step - loss: 0.5752 - accuracy: 0.7150 - val_loss: 0.5535 - val_accuracy: 0.7318
Epoch 2/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5564 - accuracy: 0.7235 - val_loss: 0.5485 - val_accuracy: 0.7306
Epoch 3/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7277 - val_loss: 0.5485 - val_accuracy: 0.7302
Epoch 4/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5510 - accuracy: 0.7292 - val_loss: 0.5602 - val_accuracy: 0.7275
Epoch 5/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5498 - accuracy: 0.7303 - val_loss: 0.5466 - val_accuracy: 0.7351
Epoch 6/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7307 - val_loss: 0.5501 - val_accuracy: 0.7343
Epoch 7/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7288 - val_loss: 0.5456 - val_accuracy: 0.7368
Epoch 8/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7326 - val_loss: 0.5498 - val_accuracy: 0.7339
Epoch 9/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5459 - accuracy: 0.7326 - val_loss: 0.5448 - val_accuracy: 0.7353
Epoch 10/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7321 - val_loss: 0.5465 - val_accuracy: 0.7359
Epoch 11/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7334 - val_loss: 0.5465 - val_accuracy: 0.7347
Epoch 12/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7312 - val_loss: 0.5450 - val_accuracy: 0.7351
Epoch 13/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7330 - val_loss: 0.5441 - val_accuracy: 0.7355
Epoch 14/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5436 - accuracy: 0.7340 - val_loss: 0.5476 - val_accuracy: 0.7329
Epoch 15/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5430 - accuracy: 0.7351 - val_loss: 0.5525 - val_accuracy: 0.7329
Epoch 16/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7341 - val_loss: 0.5486 - val_accuracy: 0.7339
Epoch 17/100
644/644 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7335 - val_loss: 0.5490 - val_accuracy: 0.7353
Epoch 18/100
644/644 [==============================] - 2s 3ms/step - loss: 0.5419 - accuracy: 0.7341 - val_loss: 0.5490 - val_accuracy: 0.7343
Epoch 19/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5416 - accuracy: 0.7348 - val_loss: 0.5509 - val_accuracy: 0.7312
Epoch 20/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7349 - val_loss: 0.5510 - val_accuracy: 0.7347
Epoch 21/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7344 - val_loss: 0.5471 - val_accuracy: 0.7357
Epoch 22/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7359 - val_loss: 0.5475 - val_accuracy: 0.7345
Epoch 23/100
644/644 [==============================] - 1s 2ms/step - loss: 0.5406 - accuracy: 0.7350 - val_loss: 0.5478 - val_accuracy: 0.7343

In [82]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5525 - accuracy: 0.7265 - 322ms/epoch - 1ms/step
Loss: 0.5524773597717285, Accuracy: 0.7265306115150452

In [83]:
# Export our model to HDF5 file
nn.save("alphabet_soup.h5")

/usr/local/lib/python3.10/dist-packages/keras/src/engine/training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(